@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Blog" asp-action="Create">Add Blogs</a>
    <a asp-controller="Blog" asp-action="Index">Blogs</a>
    <a asp-controller="User" asp-action="LogOut">LOGOUT</a>
    <a asp-controller="Home" asp-action="IndexCountries">Continue</a>
</div>

